@media (max-width: 991px) {
    .sect-two .item-box {
        text-align: center;
    }
    .demo-sect .container {
        text-align: center;
    }
    .tab-link {
        overflow: scroll;
    }
    .nav-tabs {
        border: none;
        width: 991px;
        float: none;
    }
    .nav-tabs>li {
        float: left;
        width: 33.33%;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .title-sect, .title-sect-left, .title-sect-right {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .text-header h1 {
        font-size: 22px;
    }
    .text-header h3 {
        font-size: 18px;
    }
    .header-two {
        text-align: center;
        margin-bottom: 20px;
    }
    .header-two button {
        margin: 40px auto 0 auto;
    }
    .header-three h4 {
        margin-top: 22px;
    }
    .sect-one .item-box p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .sect-one .item-box {
        font-size: 16px;
        margin-top: 20px;
    }
    .sect-one .item-box img {
        width: 150px;
    }
    .about-us-sect .text {
        margin-top: 30px;
    }
    .sect-two .item-box {
        margin-top: 20px;
    }
    .bottom-sect {
        margin-top: 0;
    }
    .spoiler_links span {
        font-size: 16px;
        padding-right: 35px;
    }
    .header-four {
        padding-bottom: 10px;
    }
    .header-four h1 {
        font-size: 20px;
    }
    .header-four h3 {
        font-size: 15px;
    }
    .header-four h4 {
        font-size: 14px;
    }
    .header-list {
        margin-left: 0;
    }
    .header-list li {
        list-style: none;
    }
    .popular-functionality .container {
        text-align: center;
    }
    .item-box-adv {
        margin-bottom: 30px;
    }
    .item-deals h3 {
        font-size: 20px;
    }
    .item-round {
        width: 160px;
        height: 160px;
        margin: 5px 10px;
    }
    .wrapper-round .number {
        font-size: 56px;
    }
    .wrapper-round .text {
        font-size: 11px;
    }
    .list-price {
        margin-top: 30px;
    }
    .statistics-sect {
        margin-bottom: 30px;
    }
    .text-header {
        text-align: center;
    }
    .header-three {
        background-position: center;
        background-size: cover;;
    }
    .header-three button {
        margin: 145px auto 0 auto;
    }
    .header-four button {
        margin: 20px auto;
    }
    .header-two {
        height: 300px;
    }
    .carousel-inner > .item {
        height: 300px!important;
    }
    .header-three {
        background: url("../img/header-three-bg.png") no-repeat;
        position: relative;
        padding-bottom: 10px;
    }
    .header-three button {
        margin: 30px auto;
    }
    .nav-tabs {
        width: 100%;
        min-width: 550px;
        margin-bottom: -1px;
    }
    .nav-tabs>li {
        width: 33.33%;
        min-width: 160px;
        text-align: center;
    }
    .nav-tabs>li>a img {
        margin: 14px 0;
    }
    .nav-tabs>li>a span {
        display: block;
    }
    .tab-content {
        margin-left: 0;
    }
    .tab-content>.tab-pane {
        height: auto;
    }
}
@media (max-width: 435px) {
    .text-header h1 {
        margin-top: 25px;
    }
    .item-box-adv img {
        margin: 0 auto;
        display: block;
    }
    .adv-text {
        text-align: center;
    }
    .tab-content>.tab-pane {
        padding: 40px 10px;
    }
    .btn-wrap::after {
        content: "";
        left: -61%;
        top: -60%;
    }
}
@media (min-width: 434px) {
    .item-box-adv img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .adv-text {
        padding-left: 145px;
    }
}
@media (min-width: 768px) {
    .demo-sect h3 {
        margin-top: -30px;
    }
    .navbar-nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 100px;
    }
    .header-two::after {
        background: url("../img/header-img.png") no-repeat center;
        box-shadow: 0 0 95px 6px #000;
        content: '';
        display: block;
        position: absolute;
        right: 4%;
        bottom: -80px;
        width: 421px;
        height: 267px;
    }
    .landing-sect {
        background: url("../img/landing-bg.png") no-repeat;
        background-size: 100% 98%;
        height: 868px;
    }
    .tab-sect {
        margin-top: -50px;
    }
    .nav-tabs>li a {
        line-height: 192px;
    }
}
@media (min-width: 590px) {
    .list-price-one {
        float: left;
    }
    .list-price-two {
        float: right;
    }
}
@media (min-width: 992px) {
    .title-sect-left {
        text-align: left;
    }
    .title-sect-right {
        text-align: right;
    }
    .popular-functionality .container {
        background: url("../img/pf-bg.png") no-repeat bottom left;
        background-size: 50%;
    }
    .footer .container {
        background: url("../img/footer-img.png") left bottom no-repeat;
        background-size: 55%;
    }
    .list-price-one {
        float: left;
    }
    .list-price-three {
        float: right;
    }
    .list-price-two {
        float: none;
    }
    .about-us-sect {
        background: url("../img/about-us-bg.png") no-repeat right bottom;
        background-size: 53%;
    }
    .deals-sect {
        background: url("../img/deals-bg.png") no-repeat;
        background-position-y: 85%;
        background-position-x: right;
    }
    .demo-sect .container {
        background: url("../img/bg-sect-demo.png") no-repeat bottom left;
    }
}
@media (min-width: 1200px) {
    .about-us-sect {
        padding-bottom: 130px;
    }
    .header-three:after {
        background: url("../img/header-three-after-bg.png") no-repeat;
        content: "";
        width: 566px;
        height: 610px;
        display: block;
        position: absolute;
        right: 0;
        bottom: -130px;
    }
    .header-four {
        background: url("../img/header-four-min.png") no-repeat bottom right, url("../img/header-four.png") no-repeat center;
    }
    .demo-sect {
        margin-top: 60px;
    }
}
@media (max-width: 1200px) {
    .deals-sect {
        background-size: 42%;
    }
    .demo-sect .container {
        background-size: 35%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .navbar-brand {
        display: none;
    }
    .navbar-right {
        float: none!important;
        margin: 0 auto;
        display: table;
    }
}