a:hover {
  text-decoration: none;
}
a:focus, button:focus {
  outline: none;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.title-sect,.title-sect-left,.title-sect-right {
  color: #48afdb;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 70px;
  font-size: 36px;
  text-transform: uppercase;
}
.btn-primary {
  background: #48afdb url("../img/arrow-right.png") no-repeat 15px center;
  border-radius: 0;
  color: #fff;
  border: none;
  text-transform: uppercase;
  display: block;
  font-size: 24px;
  padding: 10px 20px 10px 50px;
}
.ff3b65 {
  color: #ff3b65;
}
.arrow {
  border-radius: 50%;
  border: 1px solid #48afdb;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
body {
  background: #fff;
  color: #353535;
  font-family: sans-serif;
  font-size: 18px;
}
.top-menu {
  margin-bottom: 100px;
  overflow: hidden;
}
.navbar-default {
  background-color: #fff;
  border: none;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar-toggle {
  margin-top: 30px;
}
.navbar-brand {
  float: left;
  height: 100%;
  margin-top: 6px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #48afdb;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #48afdb;
  background-color: transparent;
}
.header-two {
  background: url("../img/header-two-bg.png") no-repeat bottom;
  margin-bottom: 200px;
  height: 550px;
}
.header-three {
  background: url("../img/header-three-bg.png") no-repeat;
  position: relative;
  padding-bottom: 60px;
}
.header-four {
  background: url("../img/header-four.png") no-repeat;
  position: relative;
  padding-bottom: 60px;
}
.header-list {
  margin-left: 20px;
}
.header-list li {
  list-style: outside;
  margin-top: 15px;
  padding-left: 20px;
}
.header h4 {
  margin-top: 60px;
}
.text-header {
  color: #48afdb;
}
.text-header h1 {
  margin-top: 85px;
  text-transform: uppercase;
}
.header-three h1 {
  margin-top: 30px;
}
.header-three h4 {
  margin-top: 65px;
}
.text-header button {
  margin-top: 75px;
}
.header-three button {
  margin-top: 145px;
}
.sect-one .item-box {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.sect-one .item-box p {
  margin-top: 35px;
  margin-bottom: 65px;
}
p.text-center{
  padding: 0;
  font-size: 18px;
}
.bottom-sect {
  background-color: #e8ecef;
  padding: 42px 0;
  margin-top: 65px;
}
.bottom-sect ul {
  text-align: center;
}
.bottom-sect span {
  color: #48afdb;
}
.landing-sect .title-sect {
  text-align: left;
  margin-bottom: 40px;
}
.about-us-sect {
  padding-bottom: 28px;
}
.about-us-sect .text {
  margin-top: 70px;
}
.tab-sect {
  background: #f0f0f0;
  margin-top: -20px;
  padding-bottom: 40px;
}
.tab-sect .title-sect {
  text-align: left;
}
.nav-tabs {
  border: none;
  width: 35%;
  float: left;
}
.nav-tabs>li {
  float: none;
  margin: 0;
}
.nav-tabs>li a {
  color: #353535;
  border: none;
  margin: 0;
  height: 192px;
  line-height: 192px;
  padding: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #d6dde3;
  border: none;
  border-radius: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #d6dde3;
  border-radius: 0;
}
.nav-tabs>li>a:hover {
  border: none;
}
.nav-tabs>li>a>img {
  margin: 0 30px;
}
.tab-content {
  margin-left: -1px;
  display: table;
}
.tab-content>.tab-pane {
  background: #d6dde3;
  overflow: hidden;
  height: 576px;
  padding: 80px 50px;
}
.price-sect {
  background-color: #f0f0f0;
  padding-bottom: 50px;
}
.price-sect .title-sect {
  text-align: left;
}
.list-price {
  text-align: center;
  margin-top: 60px;
}
.list-price li {
  display: inline-block;
  margin-bottom: 50px;
}
.price-box {
  background: #fff;
  width: 260px;
  min-height: 335px;
  position: relative;
}
.price-box h3 {
  background: url("../img/bg-price.png") no-repeat;
  background-size: cover;
  height: 120px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0 0 38px 0;
  padding-top: 30px;
}
.price-box span {
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 5px 0;
}
.price-box button {
  width: 100%;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}
.demo-sect .container {
  text-align: right;
}
.demo-sect .title-sect {
  text-align: right;
}
.demo-sect h3 {
  margin-top: -30px;
}
.btn-wrap {
  float: right;
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
}
.btn-wrap::after {
  content: "";
  background: url("../img/arow-btn.png") no-repeat;
  display: block;
  width: 97px;
  height: 85px;
  position: absolute;
  left: -75%;
  top: -90%;
}
.advantages-sect {
  background-color: #f0f0f0;
}
.item-box-adv {
  margin-bottom: 90px;
  overflow: hidden;
  position: relative;
  min-height: 128px;
}
.item-box-adv img {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.adv-text {
  padding-left: 145px;
}
.item-round {
  background: url("../img/rong-bg.png") no-repeat;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  position: relative;
}
.wrapper-round {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%
}
.wrapper-round .number {
  font-size: 120px;
  color: #29e2f4;
  font-weight: bold;
  text-align: center;
  display: block;
}
.wrapper-round .text {
  font-size: 16px;
  text-align: center;
  display: block;
}
.item-deals {
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.item-deals img {
  margin: 0 10px;
}
.item-deals h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 110px;
  margin: 0;
}
.sect-two {
  padding-bottom: 60px;
}
.sect-two .item-box {
  margin-top: 60px;
}
.sect-two .item-box h3 {
  margin-bottom: 40px;
  font-size: 22px;
}
.img-box {
  height: 128px;
  line-height: 128px;
}
.img-box img {
  vertical-align: middle;
}
.sect-three {
  background-color: #e8ecef;
}
.item-slide .bottom-slide {
  background-color: #fff;
  overflow: hidden;
}
.item-slide img {
  width: 100%;
}
.item-slide .bottom-slide h3{
  line-height: 50px;
  text-transform: uppercase;
  float: left;
  margin: 0;
}
.item-slide .share {
  background-color: #3a5370;
  height: 50px;
  width: 50px;
  float: right;
}
.carousel-control-left {
   border-radius: 50%;
   border: 1px solid #48afdb;
   color: #000;
   display: block;
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   font-size: 30px;
   text-decoration: none;
}
.carousel-control-right {
  border-radius: 50%;
  border: 1px solid #48afdb;
  color: #000;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 30px;
  text-decoration: none;
}
.popular-functionality .container {
  padding-bottom: 150px;
}
.popular-functionality .title-sect-left {
  margin-top: 0;
  margin-bottom: 30px;
}
.popular-functionality .list li {
  margin: 10px 0;
}
.carousel-indicators {
  bottom: -90px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  background-color: #48afdb;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 1px;
  background-color: #48afdb;
  border: 1px solid #fff;
  box-shadow: 0 0 1px 1px #48afdb;
}
.sect-three button{
  margin: 60px auto;
}
.sect-four {
  margin-bottom: 60px;
}
.sect-four .item img {
  display: block;
  margin: 0 auto;
}
.sect-question {
  background: #e8ecef;
  padding-bottom: 68px;
}
.sect-question .btn-group {
  margin-bottom: 60px;
  width: 100%;
}
.spoiler_body {display:none;}
.spoiler_links {cursor:pointer;}
.spoiler_links {
  background: url("../img/arrow.png") no-repeat center left;
  background-size: 30px 30px;
  color: #353535;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 50px;
  height: 30px;
  display: block;
  margin-bottom: 30px;
  position: relative;
}
.spoiler_links span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}
.spoiler_body {
  padding-left: 58px;
  font-size: 14px;
  margin: -30px 0 30px 0;
  border-bottom: 2px solid #98dcfe;
  padding-bottom: 20px;
}
.spoiler_links-icon {
  background: url("../img/arrow.png") no-repeat center right;
  padding-right: 50px;
  height: 82px;
  padding-left: 0;
}
.spoiler_body-icon {
  padding-left: 90px;
  margin-top: -35px;
  margin-bottom: 30px;
  padding-right: 25px;
}
.footer .title-sect {
  text-align: left;
}
.footer small {
  display: block;
  margin-top: -20px;
  margin-bottom: 30px;
}
.well {
  padding: 50px 43px;
  background-color: #e8ecef;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 40px;
}
.form-control {
  border: 1px solid #d6dde3;
  height: 35px;
  margin-top: 13px;
  font-size: 14px;
  color: #b1a9a9;
  border-radius: 0;
  box-shadow: none;
}
textarea.form-control {
  height: 160px;
}
.form-group .btn-primary {
  padding: 14px 20px 14px 50px;
  font-size: 15px;
  margin: 50px auto 0 auto;
}
.a-show{
  opacity: 1;
}
.a-hide{
  opacity: 0;
}